$max-width: 1000px;

// News
$color-news-text: #cfcfcf;
$font-news-text: 14px;

$border-color: #212322;

// Social Icon Sprite Location
$icon-social-twitter: 0;
$icon-social-facebook: -28px;
$icon-social-youtube: -56px;

// Nav Icon Sprint Location
$icon-nav-snowflakes: 0;
$icon-nav-magnets: -23px;
$icon-nav-liquids: -46px;

// Skill Icon Sprite Location
$icon-skill-stacks: 0;
$icon-skill-eat: 350px;
$icon-skill-cake: 300px;
$icon-skill-king: 250px;
$icon-skill-ship: 200px;
$icon-skill-scuba: 150px;
$icon-skill-bolt: 100px;
$icon-skill-skull: 50px;