.news {
  border: 1px solid $border-color;
  background: url('/images/news-bg.png');
  margin-top: 10px;

  > header {
    background: linear-gradient(to left, #191a1c, #212322);
    display: flex;
    flex-direction: row;
    align-items: center;

    > h1,
    > h2 {
      display: inline;
      padding-left: 10px;
      font-family: OpenSans-Semibold;
      font-size: 20px;
      color: #ffffff;
      margin: 8px;
    }

    > h2 {
      flex-grow: 1;
      text-align: right;
      padding: 0 10px;
      margin: 0;
      font-family: OpenSans;
      font-size: 12px;
      color: #bababa;

      > a {
        color: #5a84aa;
      }
    }
  }

  > main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > p {
      margin: 8px;
      text-align: justify;
      font-size: $font-news-text;
      color: $color-news-text;
    }

    > p:first-of-type {
      margin-top: 0;
    }

    > button {
      @include button();
      margin: 6px 8px;
      padding: 2px 12px;
    }
  }
}